.audio-player-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: $white;
  z-index: 101;

  .audio-player-exit {
    float: right;
    font-size: 18px;
    padding-right: 0.4rem;
    padding-top: 0.4rem;
  }

  .audio-player-image {
    width: 60px;
  }
}
