.audio-player-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  color: $dark;
  background-color: $white;
  z-index: 101;
  font-size: 1rem;
  @include media-breakpoint-up(md) {
    font-size: 1.4rem;
  }

  .audio-player-play {
    padding-right: 1.2rem;
    padding-left: 0.8rem;
    @include media-breakpoint-up(md) {
      padding-right: 2rem;
      padding-left: 1.6rem;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .audio-player-exit {
    padding-right: 1.2rem;
    @include media-breakpoint-up(md) {
      padding-right: 2.4rem;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .audio-player-image {
    display: flex;
    align-items: center;
    width: 60px;
    min-height: 60px;
    @include media-breakpoint-up(md) {
      width: 100px;
      min-height: 100px;
    }
  }
}

.progress-bar {
  position: relative;
  height: 4px;
  width: 100%;
  background-color: $gray;
}

.filler {
  background-color: $primary;
  height: 100%;
  transition: width 0.2s ease;
}
