// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  color: $white;
  background-color: $dark;
  padding: 2rem 1.5rem;
  text-align: center;
}

.footer-form {
  padding-bottom: 2.5rem;
}

.footer-info {
  margin-bottom: 2.5rem;
}

.footer-contact {
  font-size: 0.8rem;
}

.footer-social {
  a {
    color: $white;
    margin: 0.4rem;
    &:hover {
      text-decoration: none;
    }
  }
}

.footer-links {
  a {
    display: block;
    color: $white;
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
  }
}
