// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer-wrapper {
  margin-bottom: 64px;
  @include media-breakpoint-up(md) {
    margin-bottom: 104px;
  }
}

.footer {
  color: $light;
  background-color: $dark;
  padding: 2rem 1.5rem;
  text-align: center;
  @include media-breakpoint-up(md) {
    text-align: left;
  }
}

.footer-form {
  padding-bottom: 2.5rem;
  .footer-form__input {
    max-width: 90%;
    @include media-breakpoint-down(sm) {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.footer-info {
  margin-bottom: 2.5rem;
}

.footer-contact {
  font-size: 0.8rem;
}

.footer-social {
  a {
    color: $white;
    margin: 0.4rem;
    &:hover {
      text-decoration: none;
    }
  }
}

.footer-links {
  a {
    display: block;
    color: $light;
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
  }
}
