.cart {
  padding: 1em;
}

.cart-header,
.cart-quantity,
.cart-subtotal {
  display: inline-block;
}

.cart-header {
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.cart-info {
  @include media-breakpoint-up(md) {
    margin: 0 0 auto 1em;
  }
}

.cart-items {
  @include media-breakpoint-up(md) {
    border-right: solid $gray 1px;
    padding: 1rem 2rem;
  }
}

.cart-item {
  padding: 0.6em;
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}

.cart-item-image {
  width: 50px;
  @include media-breakpoint-up(md) {
    width: 100px;
  }
}

.cart-item-image-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  background-color: $gray;
}

.cart-item-info {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-info-title {
  strong {
    font-size: 1em;
  }
}

.cart-item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $danger;
}

.cart-item-price {
  float: right;
}
