.login-container {
  margin: auto;
  max-width: 90%;
  @include media-breakpoint-up(md) {
    max-width: 50%;
  }
}
.login-form {
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form h3 {
  text-align: center;
  color: #333;
}

.login-container form {
  padding: 10%;
}

.register-button {
  margin-top: 2rem;
  p {
    display: inline;
    padding-right: 1rem;
  }
}

.forgot-password {
  display: block;
  padding-top: 2rem;
  color: $primary;
  font-weight: 600;
  text-decoration: none;
}
