.product-page {
  background-color: $gray;
  min-height: 100vh;
}

.product-left {
  height: 100%;
}

.product-content {
  display: flex;
  justify-content: space-between;
}

.product-info {
  text-align: center;
  @include media-breakpoint-up(md) {
    width: 80%;
    background: rgba(255, 255, 255, 0.4);
    margin: -2rem 0 0 5rem;
    position: relative;
    padding: 2rem;
    -webkit-box-shadow: 7px 10px 5px -6px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 7px 10px 5px -6px rgba(0, 0, 0, 0.63);
    box-shadow: 7px 10px 5px -6px rgba(0, 0, 0, 0.63);
  }
}

.product-actions {
  text-align: center;
  align-self: flex-end;
  margin-top: 2rem;
}
