.register-container {
  margin: auto;
  max-width: 90%;
  @include media-breakpoint-up(md) {
    max-width: 50%;
  }
}
.register-form {
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.register-form h3 {
  text-align: center;
  color: #333;
}

.register-container form {
  padding: 10%;
}

.login-button {
  margin-top: 2rem;
  p {
    display: inline;
    padding-right: 1rem;
  }
}
