// ==============
// MOBILE
// ==============

// .mobile-shop {
//   margin: 5rem 0;
// }

.mobile-shop-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0.6em 1em;
  background-color: $gray;
}

.mobile-shop-toolbar-buttons {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

// ==============
// DESKTOP
// ==============

.shop {
  margin: 5rem auto;
}

.shop-no-results {
  padding: 3em;
  text-align: center;
}

.filter-card {
}

.filter-card-body {
  padding: 0.4em 1em;
}
